*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background-color: #ECFAFB;
}
header{
  font-size: 1.3em;
  color: white;
  position: fixed;
  top: 0;
  left: : 0;
  width: 100%;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
.menu{
  text-align: center;
  display: flex;
}
.menu a{
  padding: 10px;
}
a{
  text-decoration: none;
  color: white;
  transition: 1s;
}
a:hover{
  color:#d6c481;
}
.sfondo-img{
  width: 100%;
  min-height: 300px;
  background-image: url(https://i.pinimg.com/originals/ba/3d/c2/ba3dc27f3dc708939872561d9e3c6cac.jpg);
  background-size: cover;
  background-position: left;
  color: #d6c481;
}
.filter{
  width: 100%;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sfondo-testo{
  border-radius: 5px;
  font-size: 1.5em;
  width: 500px;
  text-align: center;
  transition: 3s;
}
.sfondo-testo:hover{
  background-color: rgba(0, 0, 0, 0.6);
}
form{
  margin-top: 10px;
  height: 100%;
}
form input{
  text-align: center;
  font-weight: 300;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
.margin{
  text-align: center;

  width: 60%;
  margin: auto;
  background-color: #4aa6b5;
}
.margin h2{
  color:#D4C481;
}
.margin h3, label{
  padding: 10px;
}
footer{
  color:white;
  font-weight: bold;
  width: 100%;
  height: 120px;
  background-color: #4aa6b5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .fa{
  font-size: 1.5em;
  padding: 8px;
  transition: 1s;
}
footer .fa:hover{
  color:#d6c481;
}
/*media queries*/

@media screen and (max-width:900px) {
  .container-grid{
    height: 150px;
    width: 100%;
  }
  .menu{
    font-size: 18px;
  }
  .contatti, .social, .indirizzo{
    display: block;
    width: 100%;
    text-align: center;
  }
  .filter{
    font-size: 10px;
  }
  footer{
    display: block;
  }
}
